

form {
  position: relative;
  left: 35%;
  background-color: white;
  width: 25%;
  padding: 5%;
  margin-top: 5%;
  border: 0.5px solid gray;
  border-radius: 5px;
}

.container {
  width: 50%
}

.validation-error{
  color: red;
  font-size: x-small;
}